:root {
    --primary: rgba(125, 231, 169, 0.603)
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: rgba(125, 231, 169, 0.603);
    color: white;
    transition: 250ms;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
