.NavItems{
    background: linear-gradient(90deg,rgba(125, 231, 169, 0.603), rgba(243, 239, 242, 0.603));
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

}

.logo{
    color: white;
    justify-self: start;
    margin-left: 0.8rem;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    cursor: pointer;
    text-decoration: none;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

li{
    color: white;
    text-decoration: none;
    padding: 0.5em 1rem;
    margin-left: 1rem;
}
li a{
    color: white;
    text-decoration: none;
 }

.nav-links:hover{
    background-color:  rgba(125, 231, 169, 0.603);
    color: rgba(245, 239, 243, 0.925);
    border-radius: 10px;
    transition: all 0.2s ease-out;
    padding: .8rem;
}

@media screen and (max-width: 960px) {
    .NavItems {
        position: relative;
    }

    .nav-links {
        text-align: center;
        padding: 0.5rem;
        padding-right: 0.2rem;
        width: 100%;
        display: table;
        margin: 0.05rem;
    }

    .nav-links:hover {
        background-color:   rgba(125, 231, 169, 0.603);
        border-radius: 10px;
    }
  
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.5rem;
    }

    .nav-links{
        font-size: 1rem;
    }
}